<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>playstore.test.PlayStoreTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SelectingGameFromWishlist</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deletingReview</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InstallingGame</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>RatingFiveStars</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddingLastGameToWishlist</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>WrittingReview</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddingFirstGameToWishlist</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
