<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="61f5df">  <td>18/12/14 01:15:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PlayStoreTest.setup()[pri:0, instance:playstore.test.PlayStoreTest@2b98378d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>18/12/14 01:18:54</td>   <td>195412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStoreTest.SignIn()[pri:0, instance:playstore.test.PlayStoreTest@2b98378d]">SignIn</td> 
  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>18/12/14 01:19:11</td>   <td>212607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStoreTest.AddingFirstGameToWishlist()[pri:1, instance:playstore.test.PlayStoreTest@2b98378d]">AddingFirstGameToWishlist</td> 
  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>18/12/14 01:20:25</td>   <td>285798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStoreTest.AddingLastGameToWishlist()[pri:2, instance:playstore.test.PlayStoreTest@2b98378d]">AddingLastGameToWishlist</td> 
  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>18/12/14 01:20:30</td>   <td>290861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStoreTest.SelectingGameFromWishlist()[pri:3, instance:playstore.test.PlayStoreTest@2b98378d]">SelectingGameFromWishlist</td> 
  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>18/12/14 01:20:38</td>   <td>299156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStoreTest.InstallingGame()[pri:4, instance:playstore.test.PlayStoreTest@2b98378d]">InstallingGame</td> 
  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>18/12/14 01:24:54</td>   <td>554818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStoreTest.WrittingReview()[pri:5, instance:playstore.test.PlayStoreTest@2b98378d]">WrittingReview</td> 
  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>18/12/14 01:28:40</td>   <td>781408</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PlayStoreTest.tearDown()[pri:0, instance:playstore.test.PlayStoreTest@2b98378d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1164371389</td>   <td></td> </tr>
</table>
